*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(252, 252, 252);
}

nav {
  background: white;
  height: 40px;
  width: 100%;
  margin-bottom: 0px;
}

label.logo {
  padding: 0 80px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  float: right;
  margin-right: 100px;
}

nav ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 20px;
  cursor: pointer;
}
.logo-2{
  color: rgb(44, 130, 221);
}

.nav-icons{
  display: inline;
  float: right;
  margin-right: 100px;
  height: 20px;
  cursor: pointer;
  margin-top: 10px;
}
.logo-1, .logo-2 {
  margin-right: 50px;
}
.logo-1, .logo-2, .logo-3{
  height: 20px;
}

.cart-text, .entity-1 {
  color: rgb(44, 130, 221);
}
.home-text{
  color: silver;
}
.text-entity{
  display: flex;
  column-gap: 25px;
  margin-top: 50px;
  padding-left: 50px;
}

.headings-container{
  display: flex;
  margin-top: 80px;
  margin-bottom: 15px;
}
.products{
  margin-right: 390px;
  margin-left: auto;
  color: silver;
  font-weight: bold;
}
.price{
  margin-right: auto;
  color: silver;
  font-weight: bold;
}
.unit-price, .quantity{
  margin-right: 150px;
  color: silver;
  font-weight: bold;
}
.number-products{
  font-size: 13px;
  color: rgb(44, 130, 221);
  margin-left: 200px;
  margin-bottom: 15px;
}

.gadget-details{
  display: flex;
  margin-left: 165px;
  column-gap: 15px;
  width: 390px;
  display: inline-block;
  height: 200px;
}
.radio-container{
  line-height: 200px;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  bottom: 95px;
}
.product-pic, .product-brand, .product-name, .product-description, .product-color{
  display: inline-block;
}
.cart-pic{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.product-details{
  display: inline-block;
  width: 130px;
  position: relative;
  bottom: 40px;
  
}
.product-brand{
  font-weight: bold;
  margin-bottom: 2px;
}
.product-name{
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: lighter;
}
.product-description{
  font-size: 15px;
}
.product-color{
  font-size: 15px;
  color: silver;
}
.price-container{
  width: 140px;
  display: inline-block;
  position: relative;
  bottom: 95px;
  margin-left: 95px;
}
.add-remove-container{
  width: 140px;
  display: flex;
  display: inline-block;
  position: relative;
  bottom: 87px;
  flex-wrap: wrap;
  margin-left: 23px;
}
.price-tag-1{
  display: inline-block;
}
.minus-sign-container, .plus-sign-container{
  display: inline-block;
}
.icon-1, .price-tag-1{
  margin-right: 35px;
}
.price-tag-1{
  position: relative;
  bottom: 9px;
}
.icon-1{
  height: 21px;
  position: relative;
  bottom: 5px;
}
.price-tag-2{
  display: inline-block;
  width: 100px;
  text-align: center;
  position: relative;
  bottom: 95px;
  margin-left: 55px;
}
.delete-container{
  display: inline-block;
  background-color: rgba(229, 38, 0, 0.352);
  position: relative;
  padding: 3px;
  bottom: 90px;
  margin-left: 30px;
  
}
.main-container-1, .main-container-2{
  margin-bottom: 20px;
}
.product-description{
  width: 110px;
}
.price-checkout{
  background-color: white;
  height: 200px;
  width: 230px;
  margin-left: 850px;
  margin-bottom: 50px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgb(255, 255, 255) -3px -3px 6px 1px;
}
.subtotal-price-1{
  display: flex;
  text-align: center;
  padding-top: 20px;
  column-gap: 80px;
}

.subtotal-price-2{
  display: flex;
  text-align: center;
  padding-top: 20px;
}

.subtotal-1{
  margin-left: auto;
  font-weight: bold;
}

.subtotal-2{
  margin-right: 60px;
  margin-left: 14px;
  font-weight: bold;
}

.price-total-1{
  margin-right: auto;
  font-weight: 200px;
}
.input-coupon{
  width: 80px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  border-radius: 1px solid silver;
  position: relative;
  bottom: 4px;
}

.subtotal-3{
  margin-left: auto;
  font-weight: bold;
  font-size: 20px;
}
.price-total-2{
  margin-right: auto;
  font-weight: 200px;
  font-size: 20px;
}
.subtotal-price-3{
  display: flex;
  text-align: center;
  padding-top: 15px;
  column-gap: 54px;
  color: rgb(44, 130, 221);
}

.shipping-fee{
  font-size: 9px;
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
  color: silver;
}

.checkout{
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  left: 30px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(44, 130, 221);
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.checkout:hover{
  box-shadow: 0 0 10px rgb(44, 130, 221);
}

footer {
  background-color: black;
  width: 100%;
  height: 200px;
  position: relative;
}

.footer-container{
  display: flex;
  column-gap: 250px;
  padding: 15px;
  margin-bottom: 0px;
}
.subscribe-container{
  margin-left: auto;
}
.contact-container{
  margin-right: auto;
}

.footer-text{
  font-size: 14px;
  margin-bottom: 10px;
  color: white;
  font-size: 13px;
}
.heading-1, .heading-2{
  margin-bottom: 7px;
  width: 170px;
  color: white;
  font-weight: lighter;
}
.input-email{
  height: 25px;
  width: 165px;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid rgb(44, 130, 221);
  text-align: center;
}
.subscribe-button{
  width: 165px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(44, 130, 221);
  border: none;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
 transition-duration: 0.4s;
 -webkit-transition-duration: 0.4s;
 border: 2px solid rgb(44, 130, 221);
}
.subscribe-button:hover{
  background-color: white;
  color: rgb(44, 130, 221);
}
.faq-button{
  background-color: black;
  color: white;
  border: 1px solid rgb(44, 130, 221);
  padding: 2px 2px;
}

.heading-3{
 width: 170px;
 color: white;
 /*margin-bottom: 11px;*/
 font-weight: lighter;
}

.heading-4{
  margin-top: 15px;
  /*margin-bottom: 11px;*/
  color: white;
  margin-left: 10px;
}
.social-media-container, .version-icons{
  display: flex;
  column-gap: 18px;
  margin-bottom: 23px;
  margin-top: 10px;
}
.version-icons{
  margin-left: 30px;
}

.privacy-terms-container{
  display: flex;
  column-gap: 30px;
}
.bottom-text{
  font-size: 14px;
  color: white;
  font-size: 13px;
}
.social-media{
  height: 20px;
}

a:link{
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited{
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
  color: rgb(44, 130, 221);
  background-color: transparent;
  text-decoration: none;
}
a:active{
  color: rgb(44, 130, 221);
  background-color: transparent;
  text-decoration: underline;
}


