/* style for body tag */
body {
  margin: 0;
  padding: 0;
  background-color:  rgb(245, 245, 245);
}

/* style for the create account and log in container */
.access-account {
  background-color: white;
  margin: auto;
  width: 162px;
  margin-top: 25px;
}

/* style for log in button */
.log-button {
  font-size: small;
  color: white;
  border: none;
  background-color: white;
  color: rgb(44, 130, 221);
  padding: 8px;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.log-button:hover{
  background-color: rgb(44, 130, 221);
  color: white;
}

/* style for create account button */
.sign-button {
  font-size: small;
  border: none;
  background-color: rgb(44, 130, 221);
  color: white;
  padding: 6px;
  width: 105px;
}

/* style for the div container that wraps the form */
.container {
  background-color: white;
  margin: auto;
  width: 400px;
  height: 500px;
}

/* style for header */
header {
  padding: 20px 80px;
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
}

/* style for h3 tag in header */
h3 {
  margin-bottom: 0px;
  padding-top: 30px;
  margin-left: 60px;
}

/* style for paragraph tag below header */
p {
  font-size: 11px;
  margin-top: 0px;
  margin-left: 60px;
  
}

/* style to space out the p tag and the input tag */
.log-in {
  margin-bottom: 40px;
}

/* style for input tag labels */
label {
  margin-left: 60px;
  font-size: 14px;

}

/* style for input tags */
.form-input-1, .form-input-2 {
  width: 280px;
  margin-left: 60px;
  border-color: silver;
  margin-top: 3px;
  height: 23px;
  border-width: 1px;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* style to add space */
.form-input-2 {
  margin-bottom: auto;
}

/* style for the div tag that contains the "OR" */
.or-container {
  text-align: center;
  font-size: 12px;
}

/* style for the sencond create account button */
.submit-button {
   width: 250px;
   padding: 7px;
   margin-left: 75px;
   margin-top: 15px;
   border: none;
   background-color: rgb(44, 130, 221);
   border-radius: 3px;
   color: white;
   margin-bottom: 15px;
   cursor: pointer;
   transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s;
   border: 2px solid rgb(44, 130, 221);
}

/* style for style to hover over the button */
.submit-button:hover {
  background-color: white;
  color: rgb(44, 130, 221);
}

/* Styles for the logos container */
.logos-container{
  display: flex;
  margin-top: 25px;
  column-gap: 30px;
}

/* Styles to center the div icons */
.logo-1{
  margin-left: auto;
}
.logo-4{
  margin-right: auto;
}

/* Styles for the social media icons */
.facebook,
.google,
.twitter {
  height: 25px;
  cursor: pointer;
}