* {
  /*background-color: black; */
  margin: 0px;
  padding: 0px;
  
}

.product-container section img {
  height: 147px;
}

.product-container section {
  text-align: center;
  margin: 20px 32px;
}

.product-container section h3 {
  background-color: blue;
}

.product-container section span {
  background-color: blue;
}

.product-container {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
}